
@import '../../../../styles.scss';
.accountsContainer__titles{
  color: $title-letters-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    @include letters-shared-styles(1.2rem,'serif');

  }
  h2{
    @include letters-shared-styles(2.4rem,'sans-serif');
    font-weight: 700;
  }

}
