
@import '../../../../styles.scss';
section{

  display: flex;
  justify-content: center;

  color: $title-letters-color;
  p{
    @include letters-shared-styles(1.4rem,'sans-serif');
    margin: 5px 0px;
  }

}
